.Alert-lz {
  position: relative;
  border-radius: 5px;
  padding: 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 400px;
  max-width: 100%;
}
.Alert-lz.error {
  fill: #e74c3c;
  color: #e74c3c;
  border-color: #e74c3c;
  background-color: #e74c3c;
}
.Alert-lz.success {
  color: #2ecc71;
  fill: #2ecc71;
  border-color: #2ecc71;
  background-color: #2ecc71;
}
.Alert-lz.warning {
  color: #f1c40f;
  fill: #f1c40f;
  border-color: #f1c40f;
  background-color: #f1c40f;
}
.Alert-lz.info {
  fill: #409efb;
  color: #409efb;
  border-color: #409efb;
  background-color: #409efb;
}
.Alert-lz .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin: 15px 20.5px;
  width: 1.5rem;
  cursor: pointer;
  fill: white;
}
.Alert-lz .Alert-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 87px);
  border-radius: 0 3px 3px 0;
  padding: 10px;
  gap: 3px;
  background-color: rgba(255, 255, 255, 0.97) !important;
}
.Alert-lz .Alert-content * {
  margin: 0;
  padding: 0;
}
.Alert-lz .Alert-content p {
  color: black;
}

.Alert-lz .close {
  position: absolute;
  right: 0;
  display: flex;
  top: 0;
  margin: 8px;
  fill: inherit;
  cursor: pointer;
}

.Alert-lz .close svg  {
  width: 20px;
  fill: inherit;
}