.Button-lz {
  position: relative;
  color: #fff;
  border: none;
  font-size: 1rem;
  padding: 0.7rem 1.2rem;
  border-radius: 3px;
  gap: 0.3rem;
  -webkit-transition: 0.1s transform, 0.2s box-shadow, 0.2s background-color;
  transition: 0.1s transform, 0.2s box-shadow, 0.2s background-color;
  outline: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
}

.Button-lz a {
  text-decoration: none;
}

.Button-lz.danger {
  background-color: #e74c3c;
}

.Button-lz.danger:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(231, 76, 60, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(231, 76, 60, 0.3);
}

.Button-lz.danger.outlined {
  border: 2px solid #e74c3c;
  color: #e74c3c;
}

.Button-lz.danger.outlined:hover {
  background-color: #e74c3c;
}

.Button-lz.success {
  background-color: #2ecc71;
}

.Button-lz.success:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(46, 204, 113, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(46, 204, 113, 0.3);
}

.Button-lz.success.outlined {
  border: 2px solid #2ecc71;
  color: #2ecc71;
}

.Button-lz.success.outlined:hover {
  background-color: #2ecc71;
}

.Button-lz.warning {
  background-color: #f1c40f;
}

.Button-lz.warning:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(241, 196, 15, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(241, 196, 15, 0.3);
}

.Button-lz.warning.outlined {
  border: 2px solid #f1c40f;
  color: #f1c40f;
}

.Button-lz.warning.outlined:hover {
  background-color: #f1c40f;
}

.Button-lz.primary {
  background-color: #30336b;
}

.Button-lz.primary:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(48, 51, 107, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(48, 51, 107, 0.3);
}

.Button-lz.primary.outlined {
  border: 2px solid #30336b;
  color: #30336b;
}

.Button-lz.primary.outlined:hover {
  background-color: #30336b;
}

.Button-lz.secondry {
  background-color: #747d8c;
}

.Button-lz.secondry:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(116, 125, 140, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(116, 125, 140, 0.3);
}

.Button-lz.secondry.outlined {
  border: 2px solid #747d8c;
  color: #747d8c;
}

.Button-lz.secondry.outlined:hover {
  background-color: #747d8c;
}

.Button-lz.info {
  background-color: #409efb;
}

.Button-lz.info:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(64, 158, 251, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(64, 158, 251, 0.3);
}

.Button-lz.info.outlined {
  border: 2px solid #409efb;
  color: #409efb;
}

.Button-lz.info.outlined:hover {
  background-color: #409efb;
}

.Button-lz.dragon {
  background-color: #ff9f43;
}

.Button-lz.dragon:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(255, 159, 67, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(255, 159, 67, 0.3);
}

.Button-lz.dragon.outlined {
  border: 2px solid #ff9f43;
  color: #ff9f43;
}

.Button-lz.dragon.outlined:hover {
  background-color: #ff9f43;
}

.Button-lz.marineblue {
  background-color: #0652dd;
}

.Button-lz.marineblue:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(6, 82, 221, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(6, 82, 221, 0.3);
}

.Button-lz.marineblue.outlined {
  border: 2px solid #0652dd;
  color: #0652dd;
}

.Button-lz.marineblue.outlined:hover {
  background-color: #0652dd;
}

.Button-lz.hrpink {
  background-color: #ff4f6b;
}

.Button-lz.hrpink:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(255, 79, 107, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(255, 79, 107, 0.3);
}

.Button-lz.hrpink.outlined {
  border: 2px solid #ff4f6b;
  color: #ff4f6b;
}

.Button-lz.hrpink.outlined:hover {
  background-color: #ff4f6b;
}

.Button-lz.white {
  background-color: #fff;
}

.Button-lz.white:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(255, 255, 255, 0.3);
}

.Button-lz.white.outlined {
  border: 2px solid #fff;
  color: #fff;
}

.Button-lz.white.outlined:hover {
  background-color: #fff;
}

.Button-lz.darkGr {
  background-color: #333;
}

.Button-lz.darkGr:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(51, 51, 51, 0.3);
}

.Button-lz.darkGr.outlined {
  border: 2px solid #333;
  color: #333;
}

.Button-lz.darkGr.outlined:hover {
  background-color: #333;
}

.Button-lz.grey-3 {
  background-color: #f2f2f2;
}

.Button-lz.grey-3:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(242, 242, 242, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(242, 242, 242, 0.3);
}

.Button-lz.grey-3.outlined {
  border: 2px solid #f2f2f2;
  color: #f2f2f2;
}

.Button-lz.grey-3.outlined:hover {
  background-color: #f2f2f2;
}

.Button-lz.grey-5 {
  background-color: #6b7280;
}

.Button-lz.grey-5:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(107, 114, 128, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(107, 114, 128, 0.3);
}

.Button-lz.grey-5.outlined {
  border: 2px solid #6b7280;
  color: #6b7280;
}

.Button-lz.grey-5.outlined:hover {
  background-color: #6b7280;
}

.Button-lz.grey-4 {
  background-color: #e3e7ed;
}

.Button-lz.grey-4:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(227, 231, 237, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(227, 231, 237, 0.3);
}

.Button-lz.grey-4.outlined {
  border: 2px solid #e3e7ed;
  color: #e3e7ed;
}

.Button-lz.grey-4.outlined:hover {
  background-color: #e3e7ed;
}

.Button-lz.facebook {
  background-color: #3b5998;
}

.Button-lz.facebook:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(59, 89, 152, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(59, 89, 152, 0.3);
}

.Button-lz.facebook.outlined {
  border: 2px solid #3b5998;
  color: #3b5998;
}

.Button-lz.facebook.outlined:hover {
  background-color: #3b5998;
}

.Button-lz.twitter {
  background-color: #1da1f2;
}

.Button-lz.twitter:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(29, 161, 242, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(29, 161, 242, 0.3);
}

.Button-lz.twitter.outlined {
  border: 2px solid #1da1f2;
  color: #1da1f2;
}

.Button-lz.twitter.outlined:hover {
  background-color: #1da1f2;
}

.Button-lz.youtube {
  background-color: #ff0000;
}

.Button-lz.youtube:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(255, 0, 0, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(255, 0, 0, 0.3);
}

.Button-lz.youtube.outlined {
  border: 2px solid #ff0000;
  color: #ff0000;
}

.Button-lz.youtube.outlined:hover {
  background-color: #ff0000;
}

.Button-lz.github {
  background-color: #24292e;
}

.Button-lz.github:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(36, 41, 46, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(36, 41, 46, 0.3);
}

.Button-lz.github.outlined {
  border: 2px solid #24292e;
  color: #24292e;
}

.Button-lz.github.outlined:hover {
  background-color: #24292e;
}

.Button-lz.whatsapp {
  background-color: #25d366;
}

.Button-lz.whatsapp:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(37, 211, 102, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(37, 211, 102, 0.3);
}

.Button-lz.whatsapp.outlined {
  border: 2px solid #25d366;
  color: #25d366;
}

.Button-lz.whatsapp.outlined:hover {
  background-color: #25d366;
}

.Button-lz.outlined {
  padding: 0.7rem calc(1.2rem - 2px);
  background-color: transparent;
}

.Button-lz.outlined:hover {
  color: #fff;
}

.Button-lz.rounded {
  border-radius: 30px;
}

.Button-lz::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  content: "";
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.4s opacity;
  transition: 0.4s opacity;
}

.Button-lz:active {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

.Button-lz:active::before {
  opacity: 0.2;
}

.Button-lz.btni {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

@media (max-width: 768px) {
  button {
    cursor: default !important;
  }
}
